  @font-face {
    /*font-family: Georama-Italic-VariableFont_wdth;*/
    /*src: url(../Font/Georama-Italic-VariableFont_wdth,wght.ttf);*/
}
  @font-face {
    /*font-family: Georama-VariableFont_wdth;*/
    /*src: url(../Font/Georama-VariableFont_wdth,wght.ttf);*/
}
 
 @font-face{
    /*font-family:chocolate-bar-demo-regular;*/
	/*src: url(../Font/chocolate-bar-demo.regular.otf);*/
 }

html 
{
	 overflow-x: hidden;
}
body 
{
    position: relative; 
}
  
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, 
.col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, 
.col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, 
.col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, 
.col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, 
.col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9
{
	  position: initial !important;
}
 
/*.sticky 
{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99999;
}*/

.navbar
{
	border-radius: 0px !important;
	margin-bottom: 0px !important;
}
.navbar-inverse 
{
    background-color: #0E1E34;
    /*box-shadow: 3px 4px 5px #cbc8c8;*/
	border: none;
}
img 
{
	max-width:100%;
}
li 
{
	padding:10px;
}

.navimg>img 
{
    /*display: block;*/
    margin-top: 10px;
    /*width: 30%;*/
}
.navbar-inverse .navbar-nav>li>a 
{
	color:#0069FF;
	font-size: 20px;
}
.nav>li>a 
{
	padding: 20px 0px;
	font-family:Lato;
	font-style: normal;
    font-weight: 500;
   line-height: 24px;
}
.active>a
{
	color: #FFFFFF;
    font-weight: 600;
    text-decoration: underline;
    text-decoration-color: #FFFFFF;
	text-underline-position: under;
}
.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.active>a:hover 
{
	color: #FFFFFF;
    background-color: transparent !important;
 }
.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover 
{
	color: #FFFFFF;
    background-color: transparent !important;
 }
.sec-1 
 {
	padding-top: 10%;
    padding-bottom: 6%;
	/*background-image:url('../images/BannerCop.png');*/
	    /*background-position: left;*/
    background-repeat: no-repeat;
    background-size: contain;
    background: linear-gradient(180.13deg, #0E1E34 42.83%, #506F9C 137.6%);
 }
.text-sec3 
 {
	 margin-top: 5%;
 }

.sec3 
 {
 	margin-bottom: 5%;
 }

.sec-8
{
 	background-image:url('../images/bg1.png');
 	/*opacity: 0.7;*/
	/*background-position: left;*/
}

#goc 
{
	margin-top: 3%;
}

#tokimg 
{
	text-align: center;
	margin-bottom:5%;
}

#tokimg img 
{
	transform: translate(-6px,65px);
}

#cs
{
	color: #FA9B27;
	font-family: a Abrushow;
    font-style: normal;
    font-weight: normal;
    line-height: 43px;
    letter-spacing: 0.04em;
}

#buy
{
 	transform: rotate(-13deg) !important;
 	/*width: 246.72px;*/
    height: 600.5px;
    left: 849.09px;
    top: 4445.14px;
 }

.ora-text
{
    color: #FA9B27;
    background-color: #F5F5F5;
    font-family: a Abrushow;
	font-style: normal;
	font-weight: normal;
	line-height: 43px;
	letter-spacing: 0.04em;
	padding: 5px;
	padding-left: 11px;
}
 .wel 
 {
	 /*width:50%;*/
 }
.wel-pup 
{
	font-size: 60px;
	line-height: 64px;
	letter-spacing: 0.14em;
    color:#FFFFFF;
	font-family: a Abrushow;
	text-transform:none;
}
.wel-para
{
    margin-top: 10%;
    margin-bottom: 15%;
    color:#FFFFFF;
    font-family: Lato;
    font-size: 24px;
    line-height: 30px;
    font-feature-settings: inherit;
}
.wel-para1
{
	color: #F95192;
	font-family: Lato;
	font-style: italic;
	font-weight: bold;
	font-size: 24px;
	line-height: 30px;
}
.btn-p 
{
    border-radius: 6px;
    background:#0069FF;
    /*background: linear-gradient(to right, #ff9933 0%, #ff99ff 100%);*/
}
.copy_btn
{
	    padding: 5px 25px;
		font-size: 30px;
		color:#fff;
		font-family: a Abrushow;
		height: 60px;
}
.copy_btn:hover
{
	    background: linear-gradient(to right, #0E2B55  0%, #0069FF 100%);
		color:#fff;
}
.fa-twitter , .fa-telegram , .fa-discord , .fa-medium , .fa-reddit
{
  padding-right: 10px;
  font-size: 25px;
  color: white;
}

.fa-github 
{
	padding-right: 10px;
    font-size: 25px;
    color: white;
}
.so-text 
{
	font-size: 20px;
    /*font-family: chocolate-bar-demo-regular;*/    
}
.wel-4
{
	width: 33.33333333%;
}
.sec-2 , .sec-3
{
	/*background-color:#c7c1ca66;*/
	padding: 25px 0px;
}

#seen 
{
background: #F8FBFF;
box-shadow: 0px 10px 24px rgba(0, 0, 0, 0.2);
border-radius: 20px;
margin-top: 2%;
}

.seen-pup
{
	/*color: linear-gradient(97.2deg, #254C84 -8.04%, #3F8EFF 113.14%);*/
	/*color: #254C84;*/
	background: -webkit-linear-gradient(#0E2B55, #0069FF);
	font-family: a Abrushow;
	background: -webkit-linear-gradient(#0E2B55, #0069FF);
    -webkit-background-clip: text;
    font-weight: 700;
    -webkit-text-fill-color: transparent;
	font-size: 40px;
	line-height: 43px;
	letter-spacing: 0.04em;
}
.sec-5 
{
	background-color: #F8FBFF;
	padding: 20px 0px;
}
.img-sec2 
{
	padding: 30px 70px;	
}
.img-sec2 img 
{
width: 175.75px;
height: 58.45px;
}
.set-width 
{
	width:70%;
}
.con_add 
{
	    display: inline-flex;
	    padding-bottom: 30px;
}
.ppd
{
	    background-color: #254C84;
		padding: 16px 28px;
		border-radius: 7px;
		margin-right: -10px;
		position: relative;
		color: #FFFFFF;
		font-size: 20px;
		font-weight: 900;
		margin-bottom: 0px;
}

.nums 
{
background: #E5F0FF;
border-radius: 6px;
padding: 16px 28px;
}
.set-fc 
{
	    padding: 30px 12px;
		margin-right: 10px;
		border-top-right-radius: 10px;
		border-bottom-right-radius: 10px;
		border-top-left-radius: 5px;
		border-bottom-left-radius: 5px;
		border-color: #254C84;
		background-color: #ded4e3;
		font-size: 2.7rem;
        text-align: center;
}
::placeholder 
{ 
  color: #000 !important;
  opacity: 1; 
  font-size: 30px;
  vertical-align:medium;
  margin-top:15px;
}
.sec-4 
{
	padding: 25px 0px;
}
.sec-7
{
	/*padding-top:5%;*/
	padding-bottom:5%;
	background-color: #F8FBFF;
}

#hide1{
	display: none;
}
.gra-text 
{
	font-size: 30px;
    line-height: 43px;
	background: -webkit-linear-gradient(#0E2B55, #0069FF);
    -webkit-background-clip: text;
    /*font-weight: 700;*/
    /*text-align: center;*/
    /*font-family: chocolate-bar-demo-regular;*/
    font-family: a Abrushow;
    letter-spacing: 0.04em;
    -webkit-text-fill-color: transparent;
	
}

.gra-text, .htb-text 
{
    margin: 0px 0 0;
}
.gra-text-p
{	
	font-size: 20px;
    line-height: 34px;
	color:#343434; 	
	font-family: Lato;
    /*font-weight: 600;*/
}
.dot 
{
    position: absolute;
    top: 3%;
    left: -18%;
    height: 25px;
    width: 25px;
    background-color: #c000ff;
    border-radius: 50%;
}
.pt-5
{
	padding-top:7%;
}
.sd-img
{
	width:60%;
	float: right;
}

.pb-3 
{
	padding-bottom: 2%;
}
.pb-5 
{
	padding-bottom:5%;
}
.htb-text 
{
    font-size: 16px;
    color: #000;
    display: flex;
    font-family: Lato;
    line-height: 24px;
}
.fa-check , .fa-circle-o-notch
{
	color: #ef00ff;
    padding: 10px;
}
.fa-circle-o-notch
{
	transform: rotate(-40deg);
}
.custom-container 
{
	margin: 0 10%;
}
.footer 
{
	 background-image:url('../images/footerbg.png');
	 background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	background-color: #254C84;
	padding: 40px 0px;

}
.fot-text
{
	/*font-family: chocolate-bar-demo-regular;*/
	font-family: a Abrushow;
    font-size: 45px;
    color: #FFF;
	padding-bottom: 25px;
}
.footer-icon 
{
	padding: 18px;
    border-radius: 10px;
    /*background: linear-gradient(to right, #ff9933 0%, #ff99ff 100%);*/
    background: #0069FF;
	margin-right: 6%;
}
.fa 
{
	position:initial;
}
.fot 
{
	padding-right:0px;
}
.fa-discord 
{	
	background-image:url('../images/Icons/discord.svg');
	 background-position: center;
    background-repeat: no-repeat;   
	font-size: 40px;
}
.card 
{
	position: initial;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    /*background-color: #c5c1c1;*/
    background-clip: border-box;
	border-radius: 8px;
}
.footer-logo
{
	width: 50%;
    margin-left: 25%;
    margin-bottom: 5px;
}

.card-footer 
{
	background: linear-gradient(97.2deg, #254C84 -8.04%, #3F8EFF 113.14%);
    border-radius: 8px;
}
.dwn-wp 
{
	color: #fff;
    font-size: 22px;
    font-family: chocolate-bar-demo-regular;
    font-style: italic;
    font-weight: bolder;
}
.dwp 
{
	text-align:center;
}
.copyright-text 
{
	color:#fff;
	font-size: 16px;
	font-family: Lato;
}
.pt-4 
{
    padding-top: 4%;	
}
.pb-4 
{
	padding-bottom: 4%;
}
.privacy 
{
	color:#fff;
	font-size: 16px;
	float: right;
	font-family: Lato;
}
.bor-bt 
{
	border-bottom: 2px solid #FFFFFF;
}
.mrg-top-21 
{
    margin-top: 21px;
}
.text-sec4 
{
    padding-top: 100px;
   /*width: 360px;*/
    height: 400px; 
    text-align: center;
    position: relative;
    z-index: 1;
    padding-right: 30px;
    padding-left: 30px;
    border: 2px solid #FA9B27;
	box-sizing: border-box;
	border-radius: 24px;
}

.sec7 
{
	margin-top: 2%;
	margin-bottom: 3%;
}

#puppy
{
    position: relative;
    z-index: 10;	
}

.secfq
{
	margin-bottom: 3%;
}

/*#sec4{
	border: 2px solid #FA9B27;
box-sizing: border-box;
border-radius: 24px;
}*/
.navbar-inverse .navbar-toggle 
{
	    background-color: #000;
}
.mt-10 
{
	margin-top:10px;
}
.mb-5 
{
	margin-bottom:3%;
	margin-top: 4%;
}
.mt-5 
{
	margin-top: 5%;
}
.top-btn:hover
{
	background: linear-gradient(to right, #6600cc 0%, #9900ff 100%);
    color:#fff;
}

.imgtop
{
	margin-top: 100px;
}

.imgbot 
{
	margin-top: -12px;
	margin-left: 1px;
}

/*.wrapper-img {
    width: 100%;
    position: relative;
    z-index: -1;
}*/
/* .wrapper-img img{width:100%} */

/*--------------------------------------------------------------
# Frequently Asked Questions
--------------------------------------------------------------*/
.faq .faq-list {
  padding: 0 100px;
}
.faq .faq-list ul {
  padding: 0;
  list-style: none;
}
.faq .faq-list li + li {
  margin-top: 15px;
}
.faq .faq-list li {
  padding: 8px;
  background: #fff;
  border-radius: 6px;
  position: relative;
  border: 1px solid #EFF5FF;
  border-width: thin;
}
.faq .faq-list a {
  display: block;
  position: relative;
  font-family: Lato;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  /*padding: 0 30px;*/
  outline: none;
  cursor: pointer;
}

.faqimg{
 height: 30px;
 padding-right: 7px;
}

.faq .faq-list .icon-help {
  font-size: 24px;
  position: absolute;
  right: 0;
  left: 20px;
  color: #76b5ee;
}
.faq .faq-list .icon-show, .faq .faq-list .icon-close {
  font-size: 24px;
  position: absolute;
  right: 0;
  top: 0;
}
.faq .faq-list p {
  margin-bottom: 0;
  padding: 10px 0 0 0;
}
.faq .faq-list .icon-show {
  display: none;
}
.faq .faq-list a.collapsed {
  color: #343a40;
}
.faq .faq-list a.collapsed:hover {
  color: #1977cc;
}
.faq .faq-list a.collapsed .icon-show {
  display: inline-block;
}
.faq .faq-list a.collapsed .icon-close {
  display: none;
}
@media (max-width: 1200px) {
  .faq .faq-list {
    padding: 0;
  }
}

.section-bg {
    /*background-color: #f1f7fd;*/
}
.section-title {
    text-align: center;
    padding-bottom: 30px;
}
.section-title h2 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: #2c4964;
}
.section-title p {
    margin-bottom: 0;
}


#card1, #card2, #card3, #card4
{
	background-color: #254C84;
	color: white;
	border-radius: 20px;
	font-family: Lato;
letter-spacing: 0.05em;
}
.card-text li{
 padding: 8px;
}

.card-text{
	padding-left: 60px;
    margin-left: 30px;
    padding-top: 15px;
    padding-bottom: 5px;
}

.card-header {
border-radius: 20px;
font-family: a Abrushow;
font-style: normal;
font-weight: normal;
font-size: 28px;
line-height: 51px;
letter-spacing: 0.04em;
text-transform: capitalize;
background: #DCDCDC;
color: #FA9B27;
text-align: center;

 transform-origin: 0 0;
  transform: rotate(270deg);
  width: 210px;
}


/*-----------------------------Responsive Css------------------*/
/*@media only screen and (min-width: 319px) {
	.flag_stand {
		margin-left: -28%;
	}
}*/


/*Media Query*/
@media only screen and (max-width: 600px)
{
	.navbar-brand>img {
    display: block;
    width: 55%;
}

/*.custom-container{
	margin: 0px 0px;
}*/

.ppd {
	font-size: 12px;
	padding: 8px 22px;
} 

.set-fc {
  width: 100%;
  padding: 15px;
  font-size: 12px;
}

.con_add {
	width: 100%;
}

.copy_btn {
	font-size: 20px;
	height: 30%;
}

.gra-text-p {
	font-size: 15px;
}

.ora-text {
	font-size: 20px;
	line-height: 33px;
}

/*#welcol{
	text-align: center;
}
*/

/*.sticky {
	z-index: 99;
}
*/
.wel {
	margin-top: 40px;
}
	#welimg{
		height: 200px;
		display: block;
  margin-left: auto;
  margin-right: auto;
	}

	.wel-pup {
		text-align: center;
		font-size: 30px;
	}

	.wel-para, .wel-para1, .wel-btn {
		text-align: center;
		font-size: 15px;
	}

	.img-sec2 
{
	padding: 15px 20px;	
}

	.img-sec2 img{
		width: 180px;
	}

	.gra-text {
		font-size: 20px;
	}

   .seen-pup {
   	font-size: 30px;

   }

#hide1{
	display: block;
}
   #show1 {
   	display: none;
}
	.btn-p{
		text-align: center;
		display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
	}

	#sec3Img {
		width: 100%;
	}

	#puppy, .text-sec4, #pie, #buy{
		display: block;
  margin-left: auto;
  margin-right: auto;
	}

.text-sec4 {
	height: 320px;
}

.faq .faq-list .icon-show {
	font-size: 20px;

}	

.faqimg {
	height: 25px;
	padding-right: 1px;
}

#buy {
	height: 400px;
}
.sd-img {
	width: 10%;
}
.imgbot, .imgtop{
	display: none;
}

.fot-text{
	font-size: 20px;
	text-align: center;
}

.footer-icon {
	margin-right: 3%;
	padding: 5px;	
	padding-top: 15px;
    padding-bottom: 8px;
}
 #footer-text {
	display: block;
  margin-left: auto;
  margin-right: auto;
}
.copyright-text, .privacy{
text-align: center;
float: none;
font-size: 10px;
}

.container {
	 max-width: 100% !important;
        overflow-x: hidden !important;
}

.navimg{
	float: left;
}

.navimg img{
	width: 50%;
	margin-left: 10px;
}

#seen {
	margin-left: 20px;
    margin-right: 20px;
}

.foot-card{
	margin-top: 20px;
}

.dwn-wp {
	font-size: 15px;
}

.bor-bt {
	border-bottom: none;
}

/*.set-fc {
	padding: 22px 12px;
	font-size: 10px;
}

.ppd {
	padding-right: 15px 28px;
	font-size: 10px;
}
*/
}

